.active-step {
  background-color: rgba(0,120,30,.3);
}

.main {
  margin-top: 20px;
}

.control-box {
  display: inline-block;
  margin-bottom: 20px;
}
.control-box label, .control-box button {
  font-weight: 200;
}

.control-box input[type=number], .control-box select {
  height: 31px;
}

table td {
  padding: 4px 15px;
}

#counter {
  font-size: 40px;
  font-weight: 200;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, auto);
  width: auto;
}

.grid-item {
  margin-left: 5px;
  margin-bottom: 5px;
  height: 35px;
}

#controller {
  margin-bottom: 10px;
}

#startStopButton {
  color: black;
}

#play-button {
  font-size: 32px;
}

.board-block {
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 1px solid gray;
}

.selected {
  background-color: rgba(255, 0, 0, .5);
}

.disabled-block {
  background-color: rgba(0, 0, 0, .2);
}
