/**
 * @Author: Joe Iannone
 * @Date:   2018-04-24T09:52:48-04:00
 * @Email:  joseph.m.iannone@gmail.com
 * @Filename: main.css
 * @Last modified time: 2019-04-26T11:39:42-04:00
 */

h3 {
  font-weight: 200 !important;
}

#control-board table {
  width: 100% !important;
}

.active-step {
  background-color: rgb(0, 120, 30, .3);
}

.active-step-dark {
  background-color: rgba(0,120,30);
}

.main {
  margin-top: 20px;
}

.control-box {
  display: inline-block;
  margin-bottom: 20px;
}

.control-box label {
  font-weight: 300;
}

.control-box button {
  font-weight: 200;
}

.control-box input[type=number], .control-box select {
  height: 31px;
}

table td {
  padding: 4px 15px;
}

#counter {
  font-size: 40px;
  font-weight: 200;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, auto);
  width: auto;
}

.grid-item {
  margin-left: 5px;
  margin-bottom: 5px;
  height: 35px;
}

#controller {
  margin-bottom: 10px;
}

#startStopButton {
  color: black;
}

#play-button {
  font-size: 32px;
}

.board-block {
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 1px solid gray;
}

.selected {
  background-color: rgba(255, 0, 0, .5);
}

.selected-dark {
  background-color: rgba(255, 0, 0);
}

.disabled-block {
  background-color: rgba(0, 0, 0, .3);
}

.disabled-block-dark {
  background-color: #ffffff;
}
