/**
 * @Author: Joe Iannone
 * @Date:   2018-04-24T09:52:48-04:00
 * @Email:  joseph.m.iannone@gmail.com
 * @Filename: main.css
// @Last modified time: 2019-11-24T12:58:59-05:00
 */
h3 {
  font-weight: 200; }

.hide {
  visibility: hidden; }

.col1 {
  max-width: 40px;
  min-width: 30px; }

.col2 {
  max-width: 860px;
  min-width: 786px; }

.col3 {
  max-width: 300px;
  min-width: 250px; }

.animate-display {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out; }

.controller-btn {
  border: 1px solid gray; }

#title-container {
  font-size: 18px;
  font-weight: 100; }

#logo-container {
  width: 100%; }
  #logo-container #top-logo {
    border-radius: 50%;
    border: 1px solid gray;
    width: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.control-box label {
  font-weight: 300;
  min-width: 130px; }
.control-box .controller-btn {
  font-weight: 200;
  margin: 1px; }
.control-box .modal form {
  padding: 2px; }

#counter {
  padding: 20px;
  font-size: 40px;
  font-weight: 200; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, auto);
  max-width: 854px;
  min-width: 781px; }
  .grid-container .grid-item {
    margin-left: 5px;
    margin-bottom: 5px;
    height: 45px; }
  .grid-container .board-block {
    display: inline-block;
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    text-decoration: none;
    color: gray;
    font-variant-numeric: tabular-nums;
    padding: 5px;
    font-size: 10px; }
    .grid-container .board-block .key-note-container {
      color: black;
      font-variant: small-caps; }

#step-key-container {
  display: grid;
  grid-template-columns: repeat(16, auto);
  max-width: 854px;
  min-width: 781px; }
  #step-key-container .step-key-item {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 48.38px; }
  #step-key-container .step-key-block {
    display: inline-block;
    height: 100%;
    width: 100%; }

#startStopButton {
  color: black; }

#play-button {
  font-size: 32px; }

.autoMode {
  animation-direction: alternate;
  animation: blink-animation 1.3s infinite;
  -webkit-animation: blink-animation 1.3s infinite; }

@keyframes blink-animation {
  50% {
    opacity: 0; } }
@-webkit-keyframes blink-animation {
  50% {
    opacity: 0; } }
.selected {
  background-color: rgba(255, 0, 0, 0.5); }

.selected-dark {
  background-color: red; }

.disabled-block {
  background-color: #a0a0a0; }

.disabled-block-dark {
  background-color: #ffffff; }

.active-step {
  background-color: rgba(0, 120, 30, 0.3); }

.active-step-dark {
  background-color: #00781e; }

#tempo-input .custom-range::-webkit-slider-thumb {
  background: green; }

#vol-input .custom-range::-webkit-slider-thumb {
  background: red; }

#range-input .custom-range::-webkit-slider-thumb {
  background: blue; }

#detune-input .custom-range::-webkit-slider-thumb {
  background: yellow; }

#sustain-input .custom-range::-webkit-slider-thumb {
  background: pink; }

.modal-error-notification {
  color: pink; }

#sequences-select {
  font-family: monospace; }

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=main.css.map */
