/**
 * @Author: Joe Iannone
 * @Date:   2018-04-24T09:52:48-04:00
 * @Email:  joseph.m.iannone@gmail.com
 * @Filename: main.css
// @Last modified time: 2019-11-22T00:02:51-05:00
 */

$board-grid-min-width: 781px;
$board-grid-max-width: 854px;


h3 {
  font-weight: 200;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.col1 {
  max-width: 40px;
  min-width: 30px;
}

.col2 {
  max-width: 860px;
  min-width: 786px;
}

.col3 {
  max-width: 300px;
  min-width: 250px;
}

.animate-display {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}



.controller-btn {
  border: 1px solid gray;
}

#title-container {
  font-size: 18px;
  font-weight: 100;
}

#logo-container {
  width: 100%;
  #top-logo {
    border-radius: 50%;
    border: 1px solid gray;
    width: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.control-box {
  label {
    font-weight: 300;
    min-width: 130px;
  }

  .controller-btn {
    font-weight: 200;
    margin: 1px;
  }
  .modal {
    form {
      padding: 10px;
      * {
        margin: 5px;
      }
    }

  }
}

#counter {
  padding: 20px;
  font-size: 40px;
  font-weight: 200;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, auto);
  max-width: $board-grid-max-width;
  min-width: $board-grid-min-width;
  //font-family: monospace;

  .grid-item {
    margin-left: 5px;
    margin-bottom: 5px;
    height: 45px;
  }

  .board-block {
    display: inline-block;
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    text-decoration: none;
    color: gray;
    font-variant-numeric: tabular-nums;
    padding: 5px;
    font-size: 10px;
    .key-note-container {
      color: black ;
      font-variant: small-caps;
    }
  }

}



#step-key-container {
  display: grid;
  grid-template-columns: repeat(16, auto);
  max-width: $board-grid-max-width;
  min-width: $board-grid-min-width;

  .step-key-item {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 48.38px;
  }

  .step-key-block {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

}


#startStopButton {
  color: black;
}

#play-button {
  font-size: 32px;
}

.autoMode {
  color: green;
  animation: blink-animation 1.3s infinite;
  -webkit-animation: blink-animation 1.3s infinite;
}
@keyframes blink-animation {
  50% {
    color: #ffffff;
  }
}
@-webkit-keyframes blink-animation {
  50% {
    color: #ffffff;
  }
}


.selected {
  background-color: rgba(255, 0, 0, .5);
}

.selected-dark {
  background-color: rgb(255, 0, 0);
}

.disabled-block {
  background-color: rgb(160,160,160);
}

.disabled-block-dark {
  background-color: #ffffff;
}

.active-step {
  background-color: rgba(0, 120, 30, .3);
}

.active-step-dark {
  background-color: rgb(0,120,30);
}

#tempo-input {
  .custom-range::-webkit-slider-thumb {
    background: green;
  }
}

#vol-input {
  .custom-range::-webkit-slider-thumb {
    background: red;
  }
}

#range-input {
  .custom-range::-webkit-slider-thumb {
    background: blue;
  }
}

#detune-input {
  .custom-range::-webkit-slider-thumb {
    background: yellow;
  }
}

#sustain-input {
  .custom-range::-webkit-slider-thumb {
    background: pink;
  }
}
